---
layout: not_homepage
quote: Don't ask yourself what the world needs. Ask yourself what makes you come alive and then go do it. Because what the world needs is people who have come alive.
author: Howard Thurman
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.png" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Chad Hudson, Chief Compliance Officer, is responsible for developing, implementing, supporting, and monitoring the Company’s compliance, privacy, security and various risk management programs. His focus is on developing policies, controls, and awareness that enable consistent, effective security and privacy practices to minimize risk while enabling business functions and ensure the confidentiality, integrity, and availability of organizational information. 
      </p>
      <p>
        With more than 15 years of cybersecurity and data privacy experience, Chad is a CISSP (Certified Information Systems Security Professional). He’s also on the board of directors of InfraGard, a partnership between the FBI and members of the private sector for the protection of U.S. critical infrastructure.
      </p>
      <p>
        Chad and his wife live in the Kansas City area and have four active sons ranging from toddler to twenties. He has a long history of ministry, from being the Director of Student Ministry for almost ten years to recently become a Lay Pastor.
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
